<h1 class="display-4">Habitacion 3</h1>
<p>¡Muy bien! Encontraste el código. Ahora tendras que resolver 3 minijuegos de 4 fotos 1 palabra. Cada una de las respuestas tendra que ver ocn el codigo. Separa las tres por un guion - sin espacio. Si logras encontrar el código, pasarás a la última habitacion.</p>
<img src="/img/4fotos1.jpg"><br/>
<img src="/img/4fotos2.jpg"><br/>
<img src="/img/4fotos3.jpg"><br/>
<form method="post" action='@Url.Action("Habitacion","Home")'>
    <input type="hidden" name="sala" value="3"/>
    <input required type="text" name="incognita" placeholder="Respuesta" size="20"/>
    <input type="submit" value="Comprobar"/>
</form><br/>
<button onclick="alert('Cada minijuego contiene una parte del codigo final')"> Pista 1 </button>
<button onclick="alert('Las primeras 3 letras de cada respuesta son partes del codigo')"> Pista 2 </button>
<p class="error">@ViewBag.Error</p>