<h1 class="display-4">Habitacion 2</h1>
<p>Lograste superar la primer habitacion. En esta habitacion hay una serie de imagenes. En una de ellas se encontrará el código para poder pasar a la siguiente habitacion.</p>
<img src="/img/imagenesSala2.jpg">
<p></p>
<form method="post" action='@Url.Action("Habitacion","Home")'>
    <input type="hidden" name="sala" value="2"/>
    <div class="form-row">
        <div class="col-2">
            <input required type="text" class="form-control" name="incognita" placeholder="Clave" size="20"/>
        </div>
        <div class="col-2">
            <input class="btn btn-outline-light" type="submit" value="Comprobar">
        </div>
    </div>
</form>
<p></p>
<button class="btn btn-primary" onclick="alert('El codigo esta formado por tres letras')"> Pista 1 </button>
<button class="btn btn-primary" onclick="alert('Fijate las fotos que tengan algo dorado')"> Pista 2 </button>
<p class="incorrecto">@ViewBag.Error</p>