@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Escape Room - La Casa de Papel</h1>
    <img src="">
    <p>Muchas Pistas, una clave</p>
    <img src="">
</div>
