@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Escape Room - La Casa de Papel</h1>
    <img class="logo" src="/img/logo.jpg">
    <p>Muchas Pistas, una clave</p>
    <img class="imagenes" src="/img/casa_moneda.jpg">
    <img class="imagenes" src="/img/banco_españa.jpg">
    <img class="imagenes" src="/img/personajes.jpg">
</div>
