@{
    ViewData["Title"] = "Tutorial";
}

<h1 class="display-4">Escape Room - La Casa de Papel</h1>
<p>La inspectora al mando del operativo, Raquel Murillo, ha atrapado al profesor y ha descubierto la casa donde todo ha sido planeado y preparado. Ahora estamos por nuestra cuenta y debemos escapar de la Fabrica Nacional de Moneda y Timbre para no ser atrapados por la policía. Pasaremos por una serie de habitaciónes y deberemos resolver ciertos enigmas para salir con vida y con el dinero robado. ¡Mucha Suerte!</p>
<img class="imagenes" src="/img/tutorial1.jpg">
<img class="imagenes" src="/img/tutorial2.jpg">
<img class="imagenes" src="/img/tutorial3.jpg">