<head>
    <title>Victoria</title>
</head>
<h1 class="display-4">¡Ganaste!</h1>
<p>¡Felicidades! Lograste escapar de la Fabrica Nacional de Moneda y Timbre. El Profesor esta orgulloso. Ahora puedes comprarte lo que quieras y vivir una vida de lujos. ¡Que lo disfrutes!</p>
<img width="70%" height="auto" src="/img/orgullo.jpg">